{% extends "base.html" %}
{% block title %}Sessions - QuARC {{conference.year}}{% endblock %}{% block content %}
{% if sessions and conference.program_active %}
{% for session in sessions %}
<div class="content-section">
    <div class="gradient-header-sm">
        <h2>{{ session.name }}</h2>
    </div>

    {% for abstract in session.abstracts %}
	<div class="card">
        <span class="fs-6 text-dark mb-2 d-block">
            <a href="{% url 'abstract' conference.year abstract.pk %}" class="link-primary">{{ abstract.title }}</a>
        </span>
        <div class="text-muted mb-1"><strong>Author{% if abstract.authors|length > 1%}s{% endif %}:</strong> {{ abstract.authors|join:', ' }}</div>
        <span class="badge-primary">{{ abstract.research_area }}</span>
	</div>
	{% endfor %}
</div>
{% endfor %}
{% else %}
<div class="content-section">
    <div class="alert alert-info"><i class="bi bi-info-circle"></i> No sessions available yet.</div>
</div>
{% endif %}
{% endblock %}
