{% extends "base.html" %}
{% block content %}
<div class="content-section">
	<h2>Registration (No Abstract)</h2>
	<p> Registration form for industry affiliates, as well as postdocs and researchers who are not submitting abstracts to QuARC {{conference.year}}. Please register by {{ conference.registration_end|date:"F jS, Y" }}. Note that students must submit abstracts to attend QuARC and should therefore direct themselves to the <a href="{% url 'registration_abstract_submission' conference.year %}">Abstract Submission</a> page. Student co-authors may complete this form </p>
	<form method="post" action="#">
		{% csrf_token %}
		{% if attendee_form.errors %}
		<div class="alert alert-danger">
			<h5>Personal Information Errors</h5>
			<ul>{% for field, errors in attendee_form.errors.items %}{% for error in errors %}
				<li>{{ error }}</li>{% endfor %}{% endfor %}
			</ul>
		</div>
		{% endif %}
		<div class="row mb-3">
            <div class="col-md-6">
				<label for="id_first_name" class="form-label">First Name <span class="text-danger">*</span></label>
				<input type="text" class="form-control" id="id_first_name" name="first_name" value="{{attendee_form.instance.first_name}}" required>
            </div>
            <div class="col-md-6">
				<label for="id_last_name" class="form-label">Last Name <span class="text-danger">*</span></label>
				<input type="text" class="form-control" id="id_last_name" name="last_name" value="{{attendee_form.instance.last_name}}" required>
            </div>
		</div>
		<div class="row mb-3">
            <div class="col-md-6">
				<label for="id_email" class="form-label">Email <span class="text-danger">*</span></label>
				<input type="email" class="form-control" id="id_email" name="email" placeholder="Enter Email" value="{{attendee_form.instance.email}}" required>
            </div>
            <div class="col-md-6">
				<label for="id_email_confirm" class="form-label">Confirm Email <span class="text-danger">*</span></label>
				<input type="email" class="form-control" id="id_email_confirm" name="email_confirm" placeholder="Confirm Email" required>
            </div>
		</div>
		<div class="mb-3">
            <label for="id_affiliation" class="form-label">Affiliation <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="id_affiliation" name="affiliation" value="{{attendee_form.instance.affiliation}}" required>
		</div>
		<div class="mb-3">
            <label for="id_status" class="form-label">Status <span class="text-danger">*</span></label>
            <select class="form-select" id="id_status" name="status" required>
				<option value="null">Select status...</option>
				{% for status in status_choices %}
				<option value="{{status.0}}"{% if status.0 == attendee_form.instance.status %}selected{% endif %}>
					{% if status.1 == "Graduate Student" or status.1 == "Undergraduate Student" %}{{status.1}} (Co-author only)
					{% else %}{{status.1}}{% endif %}</option>
				{% endfor %}
            </select>
		</div>
		<div class="mb-3" id="student-coauthor">
            <label for="id_status" class="form-label">Abstract Title <span class="text-danger">*</span></label>
			<input type="text" class="form-control" id="id_abstract_title" name="abstract_title" value="{{attendee_form.instance.abstract_title}}" required>
			<p>Students <strong>must</strong> be co-authors of a submitted abstract. If the abstract title above does not match, you will not be accepted.</p>
		</div>
		<div class="mb-3">
            <label for="id_attending_marc" class="form-label">Are you planning to register for MARC {{conference.year}}?<span class="text-danger">*</span></label>
            <select class="form-select" id="id_attending_marc" name="attending_marc" required>
				<option value="True">Yes</option>
				<option value="False">No</option>
            </select>
		</div>
		<div class="text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</form>
</div>
{% endblock %}
{% block extend_scripts %}
<script>
 document.addEventListener('DOMContentLoaded', function() {
     const statusSelector = document.getElementById('id_status');
     const statusStudent = document.getElementById('student-coauthor');
	 function updateStatusStudent(){
		 if(statusSelector.value == 1 || statusSelector.value == 6){
			 statusStudent.style.display = statusStudent.hidden_style;
			 document.getElementById("id_abstract_title").required = true;
		 }
		 else{
			 statusStudent.hidden_style = statusStudent.style.display;
			 statusStudent.style.display = 'none';
			 document.getElementById("id_abstract_title").required = false;
		 }
	 }
     statusSelector.addEventListener('change', updateStatusStudent);
     updateStatusStudent();
 });
</script>
{% endblock %}
