{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
    <li>
        <form id="email_action" action="{% url opts|admin_urlname:'changelist' %}" method="POST">{% csrf_token %}
            <input type="hidden" name="action" value="email_attendees">
            <input type="hidden" name="_selected_action" value="{{ object_id }}">
			<a href="#" onclick="document.getElementById('email_action').submit(); return false;" title="Email">Email</a>
        </form>
    </li>
    {{ block.super }}
{% endblock %}
